<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>

<!-- Use this string as a comment to bypass sanitize 
     " onmouseover="alert(1);//
//-->
  
<p>
  <strong>content_tag sanitize(comment.body):</strong>
  <%= content_tag(:div, "content_tag", title: sanitize(comment.body)) %>
</p>
  
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
