<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>

<p>
  <strong>content_tag @article.text:</strong>
  <%= content_tag(:div, "content_tag", title: sanitize(comment.body)) %>
</p>
  
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
